<html ng-app="rpis">

<%include file="../Header.html" args="headerTitle='Strip'"/>



<script>

app.controller('SwitchCtrl', function($scope, $http) {
   $scope.onChange = function(state) {
        if(state == true){
          $http.get('rest/strip/powerOn').
              success(function(data) {
          });
        }
        else{
            $http.get('rest/strip/powerOff').
              success(function(data) {
          });
        }
     };
})

app.controller('ColorCtrl', function($scope, $http) {
   $scope.onChange = function(state) {
        if(state == true){
          $http.get('rest/strip/powerOn').
              success(function(data) {
          });
        }
        else{
            $http.get('rest/strip/powerOff').
              success(function(data) {
          });
        }
     };
     
     $scope.setColor = function() {
        $http.get('rest/strip/color/set?color=' + $scope.color.toHex().slice(1)).
              success(function(data) {
        });
    };
})


</script>

<div layout-padding ng-controller="SwitchCtrl">
  <h2>Power</p>
  <md-switch ng-model="data.switch1"  ng-change='onChange(data.switch1)' aria-label="Switch 1"></md-switch>
  
</div>

<div layout-padding ng-controller="ColorCtrl" >
      <picker color='color'></picker>
      
      <md-button class="md-raised md-primary" ng-click="setColor()">Set color</md-button>
</div>




<%include file="../Footer.html"/>

</html>